::ng-deep .mat-snack-bar-container {
    min-width: 500px;
    text-align: center;
    color: #ffffff;
    background: #55585a;
    font-weight: 600;
  }
  
  .align-center {
    display: inline-flex;
  }
  