<div fxLayout="column" class="mj-container">
  <!-- <h1 class="mat-h1">Tasks</h1> -->
  <div class="tasks-newform-content">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Tasks Form
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expand</button>
            <button mat-menu-item>Remove</button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div>
          <form class="form-container" [formGroup]="taskForm" #newsFeedform="ngForm" (ngSubmit)="taskAction()">
            <div class="row-one input-row" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px"
              fxLayoutGap.lt-sm="0px">
              <mat-form-field id="taskname" appearance="outline">
                <input matInput placeholder="Task *" formControlName="TaskName" required>
                <mat-label>Task name</mat-label>
                <mat-error>Task is required</mat-error>
              </mat-form-field>
              <mat-form-field id="status" appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select matInput placeholder="Category " formControlName="CategoryID">
                  <ng-container>

                    <mat-option *ngFor="let itemCategory of category" [value]="itemCategory.ID">
                      {{itemCategory.Name}}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="row-two">
              <label id="theschedule" class="radio-parent-label">Due: </label>
              <mat-radio-group aria-labelledby="theschedule" formControlName="Schedule">
                <mat-radio-button (change)="radioButtonChanged($event);" id="{{sch_item.Name}}"
                  *ngFor="let sch_item of schedule" [value]="sch_item.ID">
                  {{sch_item.Name}} &nbsp;
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <!-- <div class="row-three input-row" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px"
              fxLayoutGap.lt-sm="0px" *ngIf="isScheduleSelected">
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                <input matStartDate formControlName="StartDate" placeholder="Start date">
                <input matEndDate formControlName="EndDate" placeholder="End date">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>

              <mat-error *ngIf="range.controls.StartDate.hasError('matStartDateInvalid')">Invalid start date</mat-error>
              <mat-error *ngIf="range.controls.EndDate.hasError('matEndDateInvalid')">Invalid end date</mat-error>
            </div> -->
            <div class="row-three input-row" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px"
              fxLayoutGap.lt-sm="0px" *ngIf="isScheduleSelected">
              <mat-form-field appearance="outline">
                <input matInput [matDatepicker]="StartDate" placeholder="Start date *" [min]="sDate"
                  formControlName="StartDate">
                <mat-label>Start Date *</mat-label>
                <mat-datepicker-toggle matSuffix [for]="StartDate"></mat-datepicker-toggle>
                <mat-datepicker #StartDate></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <input matInput [matDatepicker]="EndDate" placeholder="Due date *" [min]="mDate"
                  formControlName="EndDate">
                <mat-label>Due date*</mat-label>
                <mat-datepicker-toggle matSuffix [for]="EndDate"></mat-datepicker-toggle>
                <mat-datepicker #EndDate></mat-datepicker>
              </mat-form-field>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="space-between">
                <div fxLayout="row wrap" fxLayoutAlign="space-between">
                  <div>
                    <button type="button" (click)="AddTime();" *ngIf="!isTimeRequired" mat-button color="primary" aria-label="Add time">
                      <mat-icon>more_time</mat-icon> Add time
                    </button>
                    <button type="button" (click)="removeTime();" *ngIf="isTimeRequired" mat-button color="accent" aria-label="Add time">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </div>
                  <div>
                     <div fxLayout="row wrap" fxLayoutAlign="space-between">
                      <div>
                        <mat-form-field id="taskstarttime" appearance="outline" class="timefield" *ngIf="isTimeRequired">
                          <input type="time" matInput placeholder="Start time " formControlName="TaskStartTime" required>
                          <mat-label>Start Time</mat-label>
                           <mat-error>Start time is required</mat-error> 
                        </mat-form-field>
                      </div>
                      <div>
                        <div style="margin-left: 2px;">
                          <mat-form-field id="tasktime" appearance="outline" class="timefield" *ngIf="isTimeRequired">
                            <input type="time" matInput placeholder="End time " formControlName="TaskEndTime" required>
                            <mat-label>End Time</mat-label>
                             <mat-error>End time is required</mat-error> 
                          </mat-form-field>
                        </div>
                      </div>
                      
                     </div>
                  </div>
                </div>
                <div>
                  &nbsp;
                </div>
            </div>

             <div fxLayout="row wrap" fxLayoutAlign="space-between" >
                <div fxLayout="row wrap" fxLayoutAlign="space-between">
                  <div>
                    <button type="button" (click)="AddReminder();"  *ngIf="!isReminderRequired" mat-button color="primary" aria-label="Add time">
                      <mat-icon>more_time</mat-icon> Add reminder
                    </button>
                    <button type="button" matTooltip="Remove reminder" matTooltipClass="mj-small-tooltip" (click)="removeReminder();" *ngIf="isReminderRequired" mat-button color="accent" aria-label="Remove reminder">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="space-between">
                    <div>
                      <mat-form-field id="taskreminderdate" appearance="outline" class="reminderdatefield" *ngIf="isReminderRequired">
                          <input matInput [matDatepicker]="TaskReminderDate" placeholder="Reminder date *" [min]="sDate"  [max]="mDateReminder" formControlName="TaskReminderDate">
                            <mat-label>Reminder date *</mat-label>
                            <mat-datepicker-toggle matSuffix [for]="TaskReminderDate"></mat-datepicker-toggle>
                            <mat-datepicker #TaskReminderDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div>
                      <div style="margin-left: 2px;">
                        <mat-form-field id="taskremindertime" appearance="outline" class="timefield" *ngIf="isReminderRequired">
                          <input type="time" matInput placeholder="Reminder time " formControlName="TaskReminderTime" required>
                          <mat-label>Reminder Time</mat-label>
                           <mat-error>Reminder time is required</mat-error> 
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <div>&nbsp;</div>
            </div>
            <div class="mj-task-description">
              <mat-accordion>           
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                       
                      </mat-panel-title>
                      <mat-panel-description>
                        Add details {{panelOpenState ? 'open' : 'closed'}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row-foure">
                      <div id="quill">
                        <quill-editor [styles]="editorStyle" placeholder="Enter Description" 
                            formControlName="Description" >
                        </quill-editor>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
            </div>
            <!-- <div class="row-foure">
                      <div id="quill">
                        <quill-editor [styles]="editorStyle" placeholder="Enter Description" 
                            formControlName="Description" >
                        </quill-editor>
                      </div>
                    </div> -->
            <div class="row-five" fxLayout="row wrap" fxLayoutAlign="space-between">

              <button mat-raised-button color="info" *ngIf="id>0" [routerLink]="['../../']" class="mjbuttons"
                type="button">Back to list</button>
              <button mat-raised-button color="info" *ngIf="id<=0" [routerLink]="['../']" class="mjbuttons"
                type="button">Back to list</button>

              <div>
                <button mat-raised-button color="accent" type="button"
                  (click)="newsFeedform.ngSubmit.emit();saveAndClose();" [disabled]="!newsFeedform.valid"
                  class="mjbuttons">Save & Close</button>
                <button mat-raised-button color="primary" type="submit" [disabled]="!newsFeedform.valid"
                  class="mjbuttons">Save</button>
              </div>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>