
.mj-container{
    margin: 0.5rem;
  }
  
  .grid-container {
    margin: 20px;
  }
    
.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
    
.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.taskaction-box{
  margin-bottom: 1rem;
}
.row-two{
  margin-bottom: 2vh;
  padding: 2px;
}
.row-five{

  display: flex;
  justify-content: flex-end;

}
.mjbuttons{
  margin:2px;
}
.radio-parent-label{
  font-weight: bold;
}
.timefield{
  margin-left: 0.5rem;
  max-width: 120px;
}

.mj-task-description{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}