.grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }
/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.taskaction-box{
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  
}
.delete-box:hover{
  color:  #ee3030;
}
.mat-row:hover {
  /*background-color: red;*/
  cursor: pointer;
}