/* You can add global styles to this file, and also import other style files */

@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mj-container{
    margin: 0.5rem;
}
.mj-list-container{
    margin: 0.5rem;
}
.mj-form-container{
    margin: 0.5rem;
}
.mj-small-tooltip{
    background-color:rgb(100, 141, 53);
    padding-top: 0!important;
    padding-bottom: 0!important;  
  }