<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>

   <mat-card>
     <mat-card-content>
      <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <div class="duetoday">
          <mat-card>
            <mat-card-header>
                <span>Due Today</span>
            </mat-card-header>
            <mat-card-content>
              <div class="btn-div">
                <button mat-raised-button color="primary"
                  [matBadge]="bgHome" matBadgePosition="after" matBadgeColor="accent" class="btn-tasks">Office Tasks
                </button>
              </div>
              <div class="btn-div">
                <button mat-raised-button color="warn"
                  [matBadge]="bgOffice" matBadgePosition="after" matBadgeColor="accent" class="btn-tasks">General Tasks
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="duetomorrow">
          <mat-card>
            <mat-card-header>
                <span>Due Tomorrow</span>
            </mat-card-header>
            <mat-card-content>
              <div class="btn-div">
                <button mat-raised-button color="primary"
                  [matBadge]="bgHome" matBadgePosition="after" matBadgeColor="accent" class="btn-tasks">Office Tasks
                </button>
              </div>
              <div class="btn-div">
                <button mat-raised-button color="warn"
                  [matBadge]="bgOffice" matBadgePosition="after" matBadgeColor="accent" class="btn-tasks">General Tasks
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="duenextsevendays">
          <mat-card>
            <mat-card-header>
                <span>Due Next 7 days</span>
            </mat-card-header>
            <mat-card-content>
              <div class="btn-div">
                <button mat-raised-button color="primary"
                  [matBadge]="bgHome" matBadgePosition="after" matBadgeColor="accent" class="btn-tasks">Office Tasks
                </button>
              </div>
              <div class="btn-div">
                <button mat-raised-button color="warn"
                  [matBadge]="bgOffice" matBadgePosition="after" matBadgeColor="accent" class="btn-tasks">General Tasks
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
     </mat-card-content>
  </mat-card>
  
 

</div>
