.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.btn-div{
  margin: 0.3rem;
}
.btn-tasks{
  min-width: 110px;
  width: 1vw;
}
.tasks-buttons-div{
  margin: 3px;
}
.card-div-content{
  padding: 5px;
}

/*---When you put ::ng-deep it will effect other components when load through rout---*/
// ::ng-deep .mat-card-header{
//   background-color:rgb(241, 47, 47) ;
//   padding:5px;
//   border-top-left-radius: 5px;
//   border-top-right-radius: 5px;
//   color: #ffffff;
// }
 .mat-card-header{
  background-color:rgb(241, 47, 47) ;
  padding:5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #ffffff;
}

::ng-deep .mat-card{
  padding:0 !important;
}

::ng-deep .mat-card-content{
  padding:1rem;
}

.aligncenter{
  text-align: center;
}
