<div class="grid-container">
    <h1 class="mat-h1">Office Tasks</h1>
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile  [colspan]="2" [rowspan]="2">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Tasks Form
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content >
            <div >
                <form class="form-container" [formGroup]="taskForm" #newsFeedform="ngForm" (ngSubmit)="taskAction()">
                    <div class="row-one">
                        <mat-form-field id="taskname" appearance="outline">
                            <input matInput placeholder="Task *" formControlName="TaskName" required>
                            <mat-label>Task name</mat-label>
                            <mat-error>Task is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row-two">
                        <mat-form-field appearance="outline">
                            <input matInput [matDatepicker]="StartDate" placeholder="Start date *" [min]="sDate"
                                formControlName="StartDate">
                                <mat-label>Start Date *</mat-label>
                            <mat-datepicker-toggle matSuffix [for]="StartDate"></mat-datepicker-toggle>
                            <mat-datepicker #StartDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="row-three">
                        <mat-form-field appearance="outline">
                            <input matInput [matDatepicker]="EndDate" placeholder="End date *" [min]="mDate"
                                formControlName="EndDate">
                                <mat-label>End Date *</mat-label>
                            <mat-datepicker-toggle matSuffix [for]="EndDate"></mat-datepicker-toggle>
                            <mat-datepicker #EndDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="row-foure">
                      <div id="quill">
                        <p>Description *</p>
                        <quill-editor [styles]="editorStyle" placeholder="Enter Text" 
                            formControlName="Description" required>
                        </quill-editor>
                      </div>
                    </div>
                    <div class="row-five">
                      <button mat-raised-button color="info" *ngIf="id>0" [routerLink]="['../../../officetasks']" class="mjbuttons" type="button">Cancel</button>
                      <button mat-raised-button color="info" *ngIf="id<=0" [routerLink]="['../../officetasks']" class="mjbuttons" type="button">Cancel</button>
                      <button mat-raised-button color="primary" type="submit" class="mjbuttons">Save</button>
                    </div>
                </form>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  